/* -------
    HEADER
    ------ */

header {
    background: #FFF;
    height: auto;
    @include centerdiv;
    flex-direction: column;

    .logo {

        padding: 14px 98px;
        img {
            width: 162px;
        }
    }

    .localisation {
        @include centerdiv;
        width: 100%;
        height: 50px;
        color: var(--location-txt-color);
        background: var(--location-bg-color);

        p {
            margin-left: 17px;
            font-size: 16px;
        }
    }

    .hero {
        background: var(--main-bg-color);
        width: 100%;
        @include centerdiv;
        flex-direction: column;
        padding: 40px 0 70px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            width: 75%;
            height: 68px;
        }
        
        > p {
            height: 46px;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }
        
        .hero-btn {
            background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
            margin-top: 25px;
            height: 50px;
            @include centerdiv;
            border-radius: 30px;
            color : #FFF;
            padding: 18px;
            cursor: pointer;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease;
            
            &:hover {
                filter: brightness(1.15);
            }
            &:not(:hover){
                filter: brightness(1);
            }

            p{
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
    
    
    

    /* -----
        MAIN
        ---- */
    
    
    
    /* -----
        HERO
        ---- */
    
    