@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

:root {
    --main-color: #9356DC;
    --new-patch-color: #99E2D0;
    --new-text-color: #008766;
    --main-bg-color: #F6F6F6;
    --location-bg-color: #EAEAEA;
    --location-txt-color: #353535;
}

@mixin centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: #000;
}

.coeur-plein {
    opacity: 0;
    position: absolute;
    // stroke: none;
    // fill: url(#text-fill);
    // width: 22px;
    stroke-width: 30;
    transition: all 0.8s ease;

}